extends layout

block content
    h1= title

    if (toShow == null)
        h2 No instance to update
    else
        -let gadgetid = toShow._id
        -let gadgettype = toShow.gadget_type
        - let gadgetprice = toShow.gadget_price
        - let gadgetversion = toShow.gadget_version
        

        div.row(class='gadgetAttr mb-2')
        div.mr-1 ID is
        div #{gadgetid}
        - let actionid = "/resource/gadgets/" + gadgetid
        form(id='gadgetForm', action= actionid, method="PUT")
            div.form-group
                label.gadgetAttr(for='gadget_type') gadget type
                input#gadgettype(type='text' name='gadget_type', value= gadget_type )
            div.form-group
                label.gadgetAttr(for='gadget_price') gadget price
                input#gadgetprice(type='number' name='gadget_price', value= gadget_price )
            div.form-group
                label.gadgetAttr(for='gadget_version') gadget version
                input#gadgetversion(type='text' name='gadget_version', value= gadget_version )
            input(type="submit" class = "btn btn-danger")

    script.
            document.forms['gadgetForm'].addEventListener('submit', (event) => {
                event.preventDefault();
                console.log('sjgdf')
                // TODO do something here to show user that form is being submitted
                fetch(event.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
                }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
                }).then((body) => {
                alert("Update succeded")
                // TODO handle body
                }).catch((error) => {
                // TODO handle error
                alert("Update failed " + error )
                });
            });